<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="shortcut icon" href="/static/logosq.svg" type="image/png">
    <title>MireaProj</title>
</head>
<header class="head">
    {% if current_user.is_authenticated %}
    <div id="headmain2" class="headermain">
        <div class="headerbuttons1">
            <a href="/logout" class="violettext">
            <button class="loginbutton">
                <span>
                Выйти
                </span>
        </button></a></div>
        <div class="headerbuttons1">
            <a href="/profile/{{ current_user.id }}" class="violettext">
            <button class="loginbutton">
                <span>
                {{ current_user.name }}
                </span>
        </button></a></div>
    </div></div>
    {% else %}
    <div id="headmain1alt" class="headermain">
        <div class="headerbuttons1">
            <a href="/login" class="violettext">
            <button class="loginbutton">
                <span>
                Войти
                </span>
        </button></a></div>
    <div class="headerbuttons1">
        <a href="/register" class="violettext">
            <button class="loginbutton">
                <span>
                Регистрация
                </span>
        </button></a></div>
    </div>
    </header>
    {% endif %}
    <body style="margin: 0;">
    {% block content %}{% endblock %}
    </body>
<footer>
    <div>
        <hr style="color: #6654d9;">
        <p class="footer">© Пудовкин Ярослав</p>
    </div>
</footer>
</html>