<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="shortcut icon" href="/static/logosq.svg" type="image/png">
    <title>MireaProj</title>
</head>
<header class="head">
    {% if current_user.is_authenticated %}
    <div id="headmain" class="headmain">
        <div class="headerbuttons"><img src="https://frontend-scripts.hb.bizmrg.com/assets/logo/geekbrains-logo-light.svg"></div>
        <div class="headerbuttons"><img src="https://svgshare.com/i/107U.svg" width="186px" height="30px"></div>
    <div id="headmain2" class="headmain">
        <div class="headerbuttons1">
            <a href="/logout" class="violettext">
            <button class="loginbutton">
                <span>
                Выйти
                </span>
        </button></a></div>
        <div class="headerbuttons1">
            <a href="/createnewclass" class="violettext">
            <button class="loginbutton">
                <span>
                Новый конспект
                </span>
            </button></a></div>
        <div class="headerbuttons1">
            <a href="/profile/{{ current_user.id }}" class="violettext">
            <button class="loginbutton">
                <span>
                {{ current_user.name }}
                </span>
        </button></a></div>
        <div class="headerbuttons1">
            <a href="/glossary/{{ current_user.id }}" class="violettext">
                <button class="loginbutton">
                    <span>
                    Глоссарий
                    </span>
        </button></a></div>
    </div></div>
    {% else %}
    <div id="headmain1" class="headmain">
        <div class="headerbuttons"><img src="https://frontend-scripts.hb.bizmrg.com/assets/logo/geekbrains-logo-light.svg"></div>
        <div class="headerbuttons"><img src="static/logo.svg" width="186px" height="30px"></div>
        <div id="headmain1alt" class="headmain">
            <div class="headerbuttons1">
                <a href="/login" class="violettext">
                <button class="loginbutton">
                    <span>
                    Войти
                    </span>
            </button></a></div>
        <div class="headerbuttons1">
            <a href="/register" class="violettext">
                <button class="loginbutton">
                    <span>
                    Регистрация
                    </span>
            </button></a></div>
        </div>
    {% endif %}
    </div>
</header>
<body style="background-color: #161b22">
    {% block content %}{% endblock %}
</body>
<footer>
    <div>
        <hr style="color: #6654d9;">
        <p class="footer">© ALT F4</p>
    </div>
</footer>
</html>