<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="shortcut icon" href="/static/logosq.svg" type="image/png">
    <title>GeekBrainsProj</title>
</head>
<body class="bg-gradient">
    <div class="regform">
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.email(class="form", type="email", placeholder="Ваш email") }}<br>
                {% for error in form.email.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </p>
            <p>
                {{ form.password(class="form", type="password", placeholder="Пароль") }}<br>
                {% for error in form.password.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </p>
            <p>{{ form.remember_me() }} {{ form.remember_me.label(class="violettext") }}</p>
            <div class="headerbuttons1">
                <a style="text-decoration: none;">
                <button class="loginbutton" type="submit" style="margin: auto;">
                    <span>
                    Войти
                    </span>
            </button></a></div>
        {{ message }}
            <a href="/register" style="width: 50px;"><p class="news_author" style="color: white; font-size: 16px"><span>Нет аккаунта? Зарегестрироваться</span></p></a>
        </form>
    </div></body>
</html>