{% extends "base.html" %}
    {% block content %}
    <br>
        <div class="di1">
            <div class="col-md6">
                <h1>{{news.title}}</h1>
                <div>
                    {{news.content}}
                </div>
                <center><div id="itemBuildContent">
			<div id='itemBuildInnerContent'><div class='itemBuildInnerSection'><div class='itemBuildContainer'><div class='itemBuildSectionHeader'>мид</div>
<div class='itemBuildSection'><div class='thinHR'></div>
<div class='itemBuildIconContainer'><div class='itemBuildSectionIcon itemIconWithTooltip' itemname='blood_grenade'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/blood_grenade_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='circlet'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/circlet_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='branches'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/branches_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='branches'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/branches_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='tango'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/tango_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='ward_observer'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/ward_observer_lg.png?3' ></div>
</div>
</div>
</div>
<div class='itemBuildContainer lastSectionOnRow'><div class='itemBuildSectionHeader'>оффлейн</div>
<div class='itemBuildSection'><div class='thinHR'></div>
<div class='itemBuildIconContainer'><div class='itemBuildSectionIcon itemIconWithTooltip' itemname='circlet'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/circlet_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='mantle'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/mantle_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='tango'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/tango_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='enchanted_mango'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/enchanted_mango_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='branches'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/branches_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='enchanted_mango'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/enchanted_mango_lg.png?3' ></div>
</div>
</div>
</div>
</div>
<br clear="both"/><div class="itemBuildInnerSection"><div class='itemBuildContainer'><div class='itemBuildSectionHeader'>если враги спамят на линии</div>
<div class='itemBuildSection'><div class='thinHR'></div>
<div class='itemBuildIconContainer'><div class='itemBuildSectionIcon itemIconWithTooltip' itemname='magic_wand'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/magic_wand_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='infused_raindrop'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/infused_raindrop_lg.png?3' ></div>
</div>
</div>
</div>
<div class='itemBuildContainer lastSectionOnRow'><div class='itemBuildSectionHeader'>на миду - быстрый ботл/ оффлейн также, только без ботла</div>
<div class='itemBuildSection'><div class='thinHR'></div>
<div class='itemBuildIconContainer'><div class='itemBuildSectionIcon itemIconWithTooltip' itemname='bottle'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/bottle_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='null_talisman'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/null_talisman_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='boots'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/boots_lg.png?3' ></div>
</div>
</div>
</div>
</div>
<br clear="both"/><div class="itemBuildInnerSection"><div class='itemBuildContainer'><div class='itemBuildSectionHeader'>1 вариант сборки: радик-бладстоун</div>
<div class='itemBuildSection'><div class='thinHR'></div>
<div class='itemBuildIconContainer'><div class='itemBuildSectionIcon itemIconWithTooltip' itemname='radiance'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/radiance_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='bloodstone'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/bloodstone_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='travel_boots'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/travel_boots_lg.png?3' ></div>
</div>
</div>
</div>
<div class='itemBuildContainer lastSectionOnRow'><div class='itemBuildSectionHeader'>2 вариант: филакриети-бладстоун</div>
<div class='itemBuildSection'><div class='thinHR'></div>
<div class='itemBuildIconContainer'><div class='itemBuildSectionIcon itemIconWithTooltip' itemname='hand_of_midas'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/hand_of_midas_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='phylactery'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/phylactery_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='bloodstone'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/bloodstone_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='travel_boots'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/travel_boots_lg.png?3' ></div>
</div>
</div>
</div>
</div>
<br clear="both"/><div class="itemBuildInnerSection"><div class='itemBuildContainer'><div class='itemBuildSectionHeader'>против физы</div>
<div class='itemBuildSection'><div class='thinHR'></div>
<div class='itemBuildIconContainer'><div class='itemBuildSectionIcon itemIconWithTooltip' itemname='ethereal_blade'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/ethereal_blade_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='heart'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/heart_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='shivas_guard'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/shivas_guard_lg.png?3' ></div>
</div>
</div>
</div>
<div class='itemBuildContainer lastSectionOnRow'><div class='itemBuildSectionHeader'>против магии</div>
<div class='itemBuildSection'><div class='thinHR'></div>
<div class='itemBuildIconContainer'><div class='itemBuildSectionIcon itemIconWithTooltip' itemname='eternal_shroud'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/eternal_shroud_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='black_king_bar'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/black_king_bar_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='heart'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/heart_lg.png?3' ></div>
</div>
</div>
</div>
</div>
<br clear="both"/><div class="itemBuildInnerSection"><div class='itemBuildContainer'><div class='itemBuildSectionHeader'>по ситуации</div>
<div class='itemBuildSection'><div class='thinHR'></div>
<div class='itemBuildIconContainer'><div class='itemBuildSectionIcon itemIconWithTooltip' itemname='pavise'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/pavise_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='guardian_greaves'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/guardian_greaves_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='sphere'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/sphere_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='sange_and_yasha'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/sange_and_yasha_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='assault'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/assault_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='overwhelming_blink'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/overwhelming_blink_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='arcane_blink'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/arcane_blink_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='ultimate_scepter'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/ultimate_scepter_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='refresher'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/refresher_lg.png?3' ></div>
</div>
</div>
</div>
<div class='itemBuildContainer lastSectionOnRow'><div class='itemBuildSectionHeader'>нейтралки</div>
<div class='itemBuildSection'><div class='thinHR'></div>
<div class='itemBuildIconContainer'><div class='itemBuildSectionIcon itemIconWithTooltip' itemname='mysterious_hat'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/mysterious_hat_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='seeds_of_serenity'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/seeds_of_serenity_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='occult_bracelet'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/occult_bracelet_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='spark_of_courage'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/spark_of_courage_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='faded_broach'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/faded_broach_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='vambrace'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/vambrace_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='philosophers_stone'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/philosophers_stone_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='vampire_fangs'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/vampire_fangs_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='quickening_charm'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/quickening_charm_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='defiant_shell'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/defiant_shell_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='titan_sliver'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/titan_sliver_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='cloak_of_flames'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/cloak_of_flames_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='ceremonial_robe'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/ceremonial_robe_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='ascetic_cap'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/ascetic_cap_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='psychic_headband'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/psychic_headband_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='ogre_seal_totem'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/ogre_seal_totem_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='timeless_relic'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/timeless_relic_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='spell_prism'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/spell_prism_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='trickster_cloak'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/trickster_cloak_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='havoc_hammer'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/havoc_hammer_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='martyrs_plate'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/martyrs_plate_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='force_boots'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/force_boots_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='seer_stone'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/seer_stone_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='mirror_shield'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/mirror_shield_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='demonicon'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/demonicon_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='fallen_sky'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/fallen_sky_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='giants_ring'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/giants_ring_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='book_of_shadows'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/book_of_shadows_lg.png?3' ></div>
</div>
</div>
</div>
</div>
<br clear="both"/><div class="itemBuildInnerSection"></div>
</div>
<br clear="both"/>		</div>

		<br clear="both"/>
			<h1>Ability Build</h1>
			<hr class="centerColHR"/>
			<div id="skillBuildContent">
				<h3>Frost Blast</h3><div class='skillBlock' abilityName='lich_frost_nova' abilityMaxLevel='4' abilityType='BASIC'><img abilityname="lich_frost_nova" class="skillImage abilityIconWithTooltip" src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/abilities/lich_frost_nova_sm.png?v=8021211" width="32" height="32" />	<div class='skillRow'>
								<table class='skillTable'>
									<tr><td id='s1_1' class='skillBox skillSet static'><div class='vertical_align'>1</div>
</td>
<td id='s1_2' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
<td id='s1_3' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
<td id='s1_4' class='skillBox skillSet static'><div class='vertical_align'>4</div>
</td>
<td id='s1_5' class='skillBox skillSet static'><div class='vertical_align'>5</div>
</td>
<td id='s1_6' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
<td id='s1_7' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
<td id='s1_8' class='skillBox skillSet static'><div class='vertical_align'>8</div>
</td>
<td id='s1_9' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
<td id='s1_10' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
<td id='s1_11' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
<td id='s1_12' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
<td id='s1_13' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
<td id='s1_14' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
<td id='s1_15' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
<td id='s1_16' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
<td id='s1_17' class='skillBox skillUnavailable skillUnset static'><div class='vertical_align'></div>
</td>
<td id='s1_18' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
<td id='s1_19' class='skillBox skillUnavailable skillUnset static'><div class='vertical_align'></div>
</td>
<td id='s1_20' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
<td id='s1_21' class='skillBox skillUnavailable skillUnset static'><div class='vertical_align'></div>
</td>
<td id='s1_22' class='skillBox skillUnavailable skillUnset static'><div class='vertical_align'></div>
</td>
<td id='s1_23' class='skillBox skillUnavailable skillUnset static'><div class='vertical_align'></div>
</td>
<td id='s1_24' class='skillBox skillUnavailable skillUnset static'><div class='vertical_align'></div>
</td>
<td id='s1_25' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
</tr>
					</table>
				</div>

			</div>
<h3>Frost Shield</h3><div class='skillBlock' abilityName='lich_frost_shield' abilityMaxLevel='4' abilityType='BASIC'><img abilityname="lich_frost_shield" class="skillImage abilityIconWithTooltip" src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/abilities/lich_frost_shield_sm.png?v=8021211" width="32" height="32" />	<div class='skillRow'>
								<table class='skillTable'>
									<tr><td id='s2_1' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
<td id='s2_2' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
<td id='s2_3' class='skillBox skillSet static'><div class='vertical_align'>3</div>
</td>
<td id='s2_4' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
<td id='s2_5' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
<td id='s2_6' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
<td id='s2_7' class='skillBox skillSet static'><div class='vertical_align'>7</div>
</td>
<td id='s2_8' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
<td id='s2_9' class='skillBox skillSet static'><div class='vertical_align'>9</div>
</td>
<td id='s2_10' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
<td id='s2_11' class='skillBox skillSet static'><div class='vertical_align'>11</div>
</td>
<td id='s2_12' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
<td id='s2_13' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
<td id='s2_14' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
<td id='s2_15' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
<td id='s2_16' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
<td id='s2_17' class='skillBox skillUnavailable skillUnset static'><div class='vertical_align'></div>
</td>
<td id='s2_18' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
<td id='s2_19' class='skillBox skillUnavailable skillUnset static'><div class='vertical_align'></div>
</td>
<td id='s2_20' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
<td id='s2_21' class='skillBox skillUnavailable skillUnset static'><div class='vertical_align'></div>
</td>
<td id='s2_22' class='skillBox skillUnavailable skillUnset static'><div class='vertical_align'></div>
</td>
<td id='s2_23' class='skillBox skillUnavailable skillUnset static'><div class='vertical_align'></div>
</td>
<td id='s2_24' class='skillBox skillUnavailable skillUnset static'><div class='vertical_align'></div>
</td>
<td id='s2_25' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
</tr>
					</table>
				</div>

			</div>
<h3>Sinister Gaze</h3><div class='skillBlock' abilityName='lich_sinister_gaze' abilityMaxLevel='4' abilityType='BASIC'><img abilityname="lich_sinister_gaze" class="skillImage abilityIconWithTooltip" src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/abilities/lich_sinister_gaze_sm.png?v=8021211" width="32" height="32" />	<div class='skillRow'>
								<table class='skillTable'>
									<tr><td id='s3_1' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
<td id='s3_2' class='skillBox skillSet static'><div class='vertical_align'>2</div>
</td>
<td id='s3_3' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
<td id='s3_4' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
<td id='s3_5' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
<td id='s3_6' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
<td id='s3_7' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
<td id='s3_8' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
<td id='s3_9' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
<td id='s3_10' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
<td id='s3_11' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
<td id='s3_12' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
<td id='s3_13' class='skillBox skillSet static'><div class='vertical_align'>13</div>
</td>
<td id='s3_14' class='skillBox skillSet static'><div class='vertical_align'>14</div>
</td>
<td id='s3_15' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
<td id='s3_16' class='skillBox skillSet static'><div class='vertical_align'>16</div>
</td>
<td id='s3_17' class='skillBox skillUnavailable skillUnset static'><div class='vertical_align'></div>
</td>
<td id='s3_18' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
<td id='s3_19' class='skillBox skillUnavailable skillUnset static'><div class='vertical_align'></div>
</td>
<td id='s3_20' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
<td id='s3_21' class='skillBox skillUnavailable skillUnset static'><div class='vertical_align'></div>
</td>
<td id='s3_22' class='skillBox skillUnavailable skillUnset static'><div class='vertical_align'></div>
</td>
<td id='s3_23' class='skillBox skillUnavailable skillUnset static'><div class='vertical_align'></div>
</td>
<td id='s3_24' class='skillBox skillUnavailable skillUnset static'><div class='vertical_align'></div>
</td>
<td id='s3_25' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
</tr>
					</table>
				</div>

			</div>
<h3>Chain Frost</h3><div class='skillBlock' abilityName='lich_chain_frost' abilityMaxLevel='3' abilityType='ULTIMATE'><img abilityname="lich_chain_frost" class="skillImage abilityIconWithTooltip" src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/abilities/lich_chain_frost_sm.png?v=8021211" width="32" height="32" />	<div class='skillRow'>
								<table class='skillTable'>
									<tr><td id='s4_1' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
<td id='s4_2' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
<td id='s4_3' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
<td id='s4_4' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
<td id='s4_5' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
<td id='s4_6' class='skillBox skillSet static'><div class='vertical_align'>6</div>
</td>
<td id='s4_7' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
<td id='s4_8' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
<td id='s4_9' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
<td id='s4_10' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
<td id='s4_11' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
<td id='s4_12' class='skillBox skillSet static'><div class='vertical_align'>12</div>
</td>
<td id='s4_13' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
<td id='s4_14' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
<td id='s4_15' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
<td id='s4_16' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
<td id='s4_17' class='skillBox skillUnavailable skillUnset static'><div class='vertical_align'></div>
</td>
<td id='s4_18' class='skillBox skillSet static'><div class='vertical_align'>18</div>
</td>
<td id='s4_19' class='skillBox skillUnavailable skillUnset static'><div class='vertical_align'></div>
</td>
<td id='s4_20' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
<td id='s4_21' class='skillBox skillUnavailable skillUnset static'><div class='vertical_align'></div>
</td>
<td id='s4_22' class='skillBox skillUnavailable skillUnset static'><div class='vertical_align'></div>
</td>
<td id='s4_23' class='skillBox skillUnavailable skillUnset static'><div class='vertical_align'></div>
</td>
<td id='s4_24' class='skillBox skillUnavailable skillUnset static'><div class='vertical_align'></div>
</td>
<td id='s4_25' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
</tr>
					</table>
				</div>

			</div>
<h3>Talent Tree</h3><div class='skillBlock' abilityName='TALENTS' abilityMaxLevel='1' abilityType='ATTRIBUTES'><img class='skillImage abilityIcon' abilityName='TALENTS' height='32px' width='32px' src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//blog/heroes/talents.png'/>	<div class='skillRow'>
							<table class='skillTable'>
								<tr><td id='s5_1' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
<td id='s5_2' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
<td id='s5_3' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
<td id='s5_4' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
<td id='s5_5' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
<td id='s5_6' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
<td id='s5_7' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
<td id='s5_8' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
<td id='s5_9' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
<td id='s5_10' class='skillBox skillSet static'><div class='vertical_align'>10</div>
</td>
<td id='s5_11' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
<td id='s5_12' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
<td id='s5_13' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
<td id='s5_14' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
<td id='s5_15' class='skillBox skillSet static'><div class='vertical_align'>15</div>
</td>
<td id='s5_16' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
<td id='s5_17' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
<td id='s5_18' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
<td id='s5_19' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
<td id='s5_20' class='skillBox skillSet static'><div class='vertical_align'>20</div>
</td>
<td id='s5_21' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
<td id='s5_22' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
<td id='s5_23' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
<td id='s5_24' class='skillBox skillUnavailable static'><div class='vertical_align'></div>
</td>
<td id='s5_25' class='skillBox skillSet static'><div class='vertical_align'>25</div>
</td>
</tr>
				</table>
			</div>
</div>
<div id='TalentsBox'><div class='Talent talentSet'> <p>+{s:bonus_damage_reduction}% Frost Shield Damage Reduction</p></div>
<div class='Talent '> <p>+{s:bonus_radius} Frost Blast Radius and Damage</p></div>
<div class='Talent '> <p>+{s:bonus_AbilityChannelTime}s Sinister Gaze Duration</p></div>
<div class='Talent talentSet'> <p>-{s:bonus_AbilityCooldown}s Frost Blast Cooldown</p></div>
<div class='Talent '> <p>+{s:bonus_damage} Chain Frost Damage</p></div>
<div class='Talent talentSet'> <p>+{s:bonus_duration}s Frost Shield Duration</p></div>
<div class='Talent talentSet'> <p>Frost Shield Provides +{s:bonus_health_regen} HP Regen</p></div>
<div class='Talent '> <p>Chain Frost Unlimited Bounces</p></div>
</div>
			</div>

		<br clear="both"/>
				<h1>Author's Ability Notes</h1>
			<hr class="centerColHR"/>
			<div id="abilitySummaryContent">
			<div class="summaryBlock"><img abilityname="lich_frost_shield" class="itemImageSummary abilityIconWithTooltip" src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/abilities/lich_frost_shield_md.png?v=8021211" width="64" height="64" /><div class='itemSummaryText'>Иногда на втором приятней взять щиток, например против сларка или эмбера через второй</div>
</div>
<div class="summaryBlock"><img abilityname="lich_frost_nova" class="itemImageSummary abilityIconWithTooltip" src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/abilities/lich_frost_nova_md.png?v=8021211" width="64" height="64" /><div class='itemSummaryText'>наш главный варм потенциал до радика или мидаса</div>
</div>
<div class="summaryBlock"><img abilityname="lich_sinister_gaze" class="itemImageSummary abilityIconWithTooltip" src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/abilities/lich_sinister_gaze_md.png?v=8021211" width="64" height="64" /><div class='itemSummaryText'>позволяет не давать фармить противнику на лайне или наносить урон под активного саппорта, бьющего с руки</div>
</div>
<div class="summaryBlock"><img abilityname="lich_chain_frost" class="itemImageSummary abilityIconWithTooltip" src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/abilities/lich_chain_frost_md.png?v=8021211" width="64" height="64" /><div class='itemSummaryText'>под бладстоуном хилит все хп(даже если в крипов улетит) сильная кнопка для драк</div>
</div>
<div class="summaryBlock"><img abilityname="lich_ice_spire" class="itemImageSummary abilityIconWithTooltip" src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/abilities/lich_ice_spire_md.png?v=8021211" width="64" height="64" /><div class='itemSummaryText'>чаще всего бесполезно, берем только для соло игр</div>
</div>
			</div>

		<br clear="both"/>
	</center>
            <div>
                    <a href='/profile/{{ news.user_id }}'><button type="button" class="btn btn-outline-light">Автор - {{news.user.name}}, Дата написания - {{news.created_date}}</button></a>
                </div>
            </div>
            <br>
        </div>
    {% endblock %})
            