{% extends "base.html" %}
{% block content %}
<h1 class="newstext">{{user.name}}</h1>
<h1 class="newstext" style="font-size: 16px; max-width: 500px">{{user.about}}</h1>
        <div class="feed">
        {% for item in news|reverse%}
            <div class="news">
            <h1 class="news_title">{{item.title}}</h1>
            <div class="headerbuttons1">
            <a href="/news/{{ item.id }}" class="violettext">
                <button class="loginbutton" style="margin: auto;">
                    <span>
                    Показать полностью
                    </span>
            </button></a></div><p class="news_date">Опубликовано {{item.created_date[:10]}} в {{item.created_date[11:16]}}</p>
            <p class="news_text">{{item.content}}</p>
            </div>
            {% endfor %}
        </div>
{% endblock %}