<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="shortcut icon" href="/static/logosq.svg" type="image/png">
    <title>GeekBrainsProj</title>
</head>
<body class="bg-gradient">
<div class="regform">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name(class="form" , placeholder="Ваше имя") }}
            {% for error in form.name.errors %}
                <p class="error" style="color: white;">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.email(class="form", type="email", placeholder="Ваш email") }}
            {% for error in form.email.errors %}
                <p class="error" style="color: white;">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.password(class="form", type="password", placeholder="Пароль") }}
            {% for error in form.password.errors %}
                <p class="error" style="color: white;">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.password_again(class="form", type="password" , placeholder="Подтвердите пароль") }}
            {% for error in form.password_again.errors %}
                <p class="error" style="color: white;">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <div class="headerbuttons1">
            <a style="text-decoration: none;">
            <button class="loginbutton" type="submit" style="margin: auto;">
                <span>
                Регистрация
                </span>
        </button></a></div>
        {{message}}
    </form>
</div>
</html>