<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="shortcut icon" href="/static/logosq.svg" type="image/png">
    <title>GeekBrainsProj</title>
</head>
<body class="bg-gradient">
    <div class="bg-div">
        <h1 class="welcometext">Добро пожаловать!</h1>
        <p class="welcometext2">Представляем информационно-патриотическую платформу "ПатриоТЫ", реализуйте или помогайте реализовать светлое будущее нашей страны вместе с нами!</p>

    <div id="headmain1" class="headmain">
        <div id="headmain1alt" class="headmain">
            <div class="headerbuttons1">
                <a href="/login" style="text-decoration: none;">
                <button id="mainbuttons" class="loginbutton">
                    <span>
                    Войти
                    </span>
            </button></a></div>
        <div class="headerbuttons1">
            <a href="/register" style="text-decoration: none;">
                <button id="mainbuttons" class="loginbutton">
                    <span>
                    Регистрация
                    </span>
            </button></a></div></div>
        </div>
    </div>
</body>
</html>